import React, { FC } from 'react';
import './{{pascalCase name}}.module.css';

type {{pascalCase name}}Props = {
  // Define your component props here
}

export const {{pascalCase name}}:FC<{{pascalCase name}}Props> = () => {
  return (
    <div className="{{kebabCase name}}">
      <h1>{{pascalCase name}} Component</h1>
    </div>
  );
};
